---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Pill from '../components/Pill.astro';
import Icon from '../components/Icon.astro';
---

<BaseLayout title="Sobre | Manuelli de Oliveira" description="About Manuelli de Oliveira Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Sobre"
				tagline="Obrigado por ter vindo até aqui! Abaixo conto um pouco sobre mim e meus objetivos profissionais."
			>
				<img
					width="1553"
					height="773"
					src="/assets/foto.jpg"
					alt="Manuelli de Oliveira at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Sobre</h2>
				<div class="content">
					<p>
						Estou sempre disposta a adquirir conhecimento e novas
						experiências, buscando meu desenvolvimento pessoal e
						profissional, independentemente da área de atuação.
						Gosto de trabalhos em equipe, análise, comunicação e
						principalmente atividades que envolvam imaginação e
						inovação.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Ensino</h2>
				<div class="content">
					<p>Bacharelado de Biomedicina | Universidade do Vale dos Sinos</p>
					<p>Ensino Médio | Escola Estadual de Ensino Médio Amadeo Rossi</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Habilidades</h2>
				<div class="roles">
					<Pill><Icon icon="excel-logo" size="1.33em" /> Microsoft Excel</Pill>
					<Pill><Icon icon="archive" size="1.33em" /> Microsoft Office</Pill>
					<Pill><Icon icon="html-logo" size="1.33em" /> HTML</Pill>
					<Pill><Icon icon="css-logo" size="1.33em" /> CSS</Pill>
					<Pill><Icon icon="js-logo" size="1.33em" /> Javascript</Pill>
				</div>
			</section>
			<section>
				<h2 class="section-title"></h2>
				<div class="roles">
					<Pill><Icon icon="creativity" size="1.33em" /> Criatividade</Pill>
					<Pill><Icon icon="rocket-launch" size="1.33em" /> Proatividade</Pill>
					<Pill><Icon icon="users" size="1.33em" /> Trabalho em equipe</Pill>
					<Pill><Icon icon="flex" size="1.33em" /> Flexibilidade e Resiliência</Pill>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}
		
		.roles {
			margin-top: 0.01rem;
			display: flex;
			gap: 0.5rem;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
